{% extends 'base.html' %}


{% block title %}
Departments
{% endblock %}



{% block content %}


<h2 class="mb-3">
    Departments
</h2>


<a href="{% url 'add_department' %}"
class="btn btn-primary mb-3">

+ Add Department

</a>



<table class="table table-bordered table-striped">

<thead>

<tr>

<th>ID</th>

<th>Department Name</th>

<th>Action</th>

</tr>

</thead>



<tbody>


{% for d in departments %}

<tr>

<td>
{{ d.id }}
</td>


<td>
{{ d.name }}
</td>


<td>

<a href="{% url 'delete_department' d.id %}"
class="btn btn-danger btn-sm">

Delete

</a>

</td>


</tr>


{% empty %}


<tr>

<td colspan="3" class="text-center">

No Department Found

</td>

</tr>


{% endfor %}


</tbody>


</table>


{% endblock %}