{% extends 'base.html' %}


{% block title %}
Employees
{% endblock %}

{% block content %}


<h2 class="mb-"> Employee List </h2>

<a href="{% url 'add_employee' %}" class="btn btn-primary mb-3">

+ Add Employee </a>



<table class="table table-bordered table-striped">


<thead>

<tr>

<th>Name</th>

<th>Email</th>

<th>Phone</th>

<th>Department</th>

<th>Position</th>

<th>Salary</th>

<th>Action</th>

</tr>

</thead>



<tbody>


{% for e in employees %}


<tr>


<td>
{{ e.name }}
</td>


<td>
{{ e.email }}
</td>


<td>
{{ e.mobile }}
</td>


<td>
{{ e.department }}
</td>


<td>
{{ e.position }}
</td>


<td>
{{ e.salary }}
</td>


<td>

<a href="{% url 'delete_employee' e.id %}" 
class="btn btn-danger btn-sm">

Delete

</a>

</td>


</tr>


{% empty %}


<tr>

<td colspan="7" class="text-center">

No Employee Found

</td>

</tr>


{% endfor %}


</tbody>


</table>



{% endblock %}